a {
	color: black;
}

.body-content {
	margin-top: 55px;
}

footer {
	text-align: center;
	background-color: #332e2e;
	color: white;
	height: 45px;
	border: 1px solid black;
}

.navbar {
	background-color: #332e2e;
	color: white;
	border: 1px solid black;
}

td {
	width: 200px;
}

td, th {
	border: 1px solid black !important;
}

#title {
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
}
